.container {
  width:900px;
  margin: auto;
  align-items: center ;
}

.banner {
  background-image: url(/landing/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-size:cover;
  background-position: center;
  padding: 50px 0;
}
