.btn-primary {
  display:inline-block;
  margin: auto;
  align-items: center;
  background-color: hsl(46, 76%, 49%);
  padding: 15px 25px !important;
  margin-top: 3rem;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  transition: background 0.5s ease-in-out;
}
}

.btn-container {
  display: flex;
  justify-content: center;
}
