.btn-primary {
  display:inline-block;
  position: relative;
  margin: auto;
  align-items: center;
  background-color: hsl(46, 76%, 49%);
  padding: 15px 25px !important;
  margin-top: 3rem;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.btn-primary:after {
  content: "";
  background-color: grey;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.btn-container {
  display: flex;
  justify-content: center;
}
